@use "/src/sass/base/variables.scss" as * ;

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
	margin: 0;
}

ol[role="list"],
ul[role="list"] {
	list-style: none;
	padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
	font-size: inherit;
	font-weight: inherit;
}

img {
	display: block;
	max-inline-size: 100%;
}


html {
    font-family: "Roboto", sans-serif;
}

body {
    background: #FFF;
}

.container {
    width: 100%;
	max-width: 1720px;
	margin: 0 auto;
	padding: 0 100px;
	position: relative;
}

@media screen and (max-width: 1200px) {
	.container {
    padding: 0 50px;
	width: 100%;
}
}

@media screen and (max-width: 768px) {
	.container {
    padding: 0 20px;
	width: 100%;
}
}

@media screen and (max-width: 375px) {
	.container {
    padding: 0 5px;
	width: 100%;
}
}