@use "/src/sass/base/variables.scss" as * ;

@mixin anim_btn-blue {
    width: 40px;
    height: 40px;
    background: $ui-active;
    border-radius: 50%;
    border: none;
    z-index: 2;
    cursor: pointer;
    position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: pulse 3s linear infinite;
    &::before {
        content: "";
        position: absolute;
        inset: -10px;              
        border-radius: 50%;
        background: rgba(45,143,180, 0.4);
        z-index: -1;
    }
    span {
        border-left: 10px solid white;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
    }
}

@mixin anim_btn-white {
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    border: none;
    z-index: 2;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: pulse 3s linear infinite;
    &::before {
        content: "";
        position: absolute;
        inset: -10px;              
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.4);
        z-index: -1;
    }
    span {
        border-left: 10px solid $ui-active;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
    }
}

@mixin btn-sched {
    width: 200px;
    font-weight: 700;
    font-size: 16px;
    border-radius: 4px;
    color: $dark;
    border: 1px solid rgba(52, 47, 69, 0.3);
    background: transparent;
    padding: 18px 32px;
    cursor: pointer;
}

@mixin btn-get {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 38px;
    width: 200px;
    border-radius: 4px;
    border: none;
    padding: 18px 29px;
    background: $ui-active;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    position: relative; 
    &::after {
        content: '';
        flex-shrink: 0;
        width: 20px; 
        height: 12px; 
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="12" viewBox="0 0 20 12" fill="none"><path d="M1.00001 6.83332C0.539768 6.83332 0.166672 6.46023 0.166672 5.99999C0.166672 5.53975 0.539768 5.16666 1.00001 5.16666H19C19.4602 5.16666 19.8333 5.53975 19.8333 5.99999C19.8333 6.46023 19.4602 6.83332 19 6.83332H1.00001Z" fill="white"/><path d="M17.8215 5.99999L13.4107 1.58925C13.0853 1.26381 13.0853 0.736171 13.4107 0.410734C13.7362 0.0852973 14.2638 0.0852973 14.5893 0.410734L19.5893 5.41073C19.9147 5.73617 19.9147 6.26381 19.5893 6.58925L14.5893 11.5892C14.2638 11.9147 13.7362 11.9147 13.4107 11.5892C13.0853 11.2638 13.0853 10.7362 13.4107 10.4107L17.8215 5.99999Z" fill="white"/></svg>');
        background-repeat: no-repeat;
        background-size: contain;
    }
}

@mixin divider {
    border: none; 
    box-sizing: border-box;
    background-color: rgba(151, 151, 151, 0.2);
    height: 1px;
}


@mixin btn-sched-mini {
    width: 120px;
    border-radius: 4px;
    font-size: 10px;
    font-weight: 700;
    border: 1px solid rgba(52, 47, 69, 0.3);
    color: $dark;
    background: transparent;
    padding: 10px 12px;
    cursor: pointer;
}

@mixin btn-get-mini {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 120px;
    border-radius: 4px;
    border: none;
    padding: 10px 12px;
    background: $ui-active;
    color: #FFF;
    font-size: 10px;
    font-weight: 700;
    cursor: pointer;
    position: relative; 
    &::after {
        content: '';
        flex-shrink: 0;
        width: 18px; 
        height: 10px; 
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="12" viewBox="0 0 20 12" fill="none"><path d="M1.00001 6.83332C0.539768 6.83332 0.166672 6.46023 0.166672 5.99999C0.166672 5.53975 0.539768 5.16666 1.00001 5.16666H19C19.4602 5.16666 19.8333 5.53975 19.8333 5.99999C19.8333 6.46023 19.4602 6.83332 19 6.83332H1.00001Z" fill="white"/><path d="M17.8215 5.99999L13.4107 1.58925C13.0853 1.26381 13.0853 0.736171 13.4107 0.410734C13.7362 0.0852973 14.2638 0.0852973 14.5893 0.410734L19.5893 5.41073C19.9147 5.73617 19.9147 6.26381 19.5893 6.58925L14.5893 11.5892C14.2638 11.9147 13.7362 11.9147 13.4107 11.5892C13.0853 11.2638 13.0853 10.7362 13.4107 10.4107L17.8215 5.99999Z" fill="white"/></svg>');
        background-repeat: no-repeat;
        background-size: contain;
    }
}