<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="Website for NAFfirm" />
	<meta name="author" content="Awesome student" />
    <title><%= title %></title>
    <%- include('src/templates/head.html') %>
</head>
<body>
    <%- include('src/templates/menu.html') %>
    <main>
        <section class="start">
            <div class="hamburger"><span></span><span></span><span></span></div>
            <div class="container">
                <a href="index.html" class="start__logo"><img src="/src/icons/logo.svg" alt="logo" ></a>
                <div class="start__wrapper">
                    <h1 class="start__title">9 Things You Must Know About Buying Your First Home</h1>
                    <div class="start__author">Scott Johnson</div>
                </div>
            </div>
        </section>
    </main>

<script type="module" src="/src/js/script.js"></script>
</body>
</html>