<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="Website for NAFfirm" />
	<meta name="author" content="Awesome student" />
    <title><%= title %></title>
    <%- include('src/templates/head.html') %>
</head>
<body>
    <%- include('src/templates/menu.html') %>
    <main>
        <section class="start">
            <div class="hamburger"><span></span><span></span><span></span></div>
            <div class="container">
                <a href="index.html" class="start__logo"><img src="/src/icons/logo.svg" alt="logo" ></a>
                <div class="start__wrapper">
                    <h1 class="start__title">9 Things You Must Know About Buying Your First Home</h1>
                    <div class="start__author">Scott Johnson</div>
                </div>
            </div>
        </section>
        <section class="preview">
            <div class="container">
                <div class="preview__wrapper">
                    <div class="preview__wrapper-head">
                        <h2 class="preview__title">What’s in the report</h2>
                        <p class="preview__descr">So you’re about to get into the world of homeownership. 
                        It’s okay...everyone feels lost during this process, 
                        but the more preparation you do upfront, the smoother your journey will be.</p>
                    </div>
                    <article class="preview__article">
                        <h3 class="preview__article-title">1st thing</h3>
                        <p class="preview__article-text">
                            So you’re about to get into the world of homeownership. 
                            It’s okay...everyone feels lost during this process, but the more preparation you do upfront, 
                            the smoother your journey will be. So you’re about to get into the world of homeownership. 
                            It’s okay...everyone feels lost during this process, but the more preparation you do upfront, 
                            the smoother your journey will be.So you’re about to get into the world of homeownership. 
                            It’s okay...everyone feels lost during this process, but the more preparation you do upfront, 
                            the smoother your journey will be.So you’re about to get into the world of homeownership. I
                        </p>
                        <img src="/src/img/landscape.png" class="preview__article-img" alt="landscape">
                    </article>
                    <article class="preview__article">
                        <h3 class="preview__article-title">2nd thing</h3>
                        <p class="preview__article-text">
                            So you’re about to get into the world of homeownership. 
                            It’s okay...everyone feels lost during this process, but the more preparation you do upfront, 
                            the smoother your journey will be. So you’re about to get into the world of homeownership. 
                            It’s okay...everyone feels lost during this process, but the more preparation you do upfront, 
                            the smoother your journey will be.So you’re about to get into the world of homeownership. 
                            It’s okay...everyone feels lost during this process, but the more preparation you do upfront, 
                            the smoother your journey will be.So you’re about to get into the world of homeownership. I
                        </p>
                        <img src="/src/img/sky.png" class="preview__article-img" alt="sky">
                    </article>
                </div>
            </div>
        </section>
    </main>

<script type="module" src="/src/js/script.js"></script>
</body>
</html>