<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="Website for NAFfirm" />
	<meta name="author" content="Awesome student" />
    <title><%= title %></title>
    <%- include('src/templates/head.html') %>
</head>
<body>
    <%- include('src/templates/menu.html') %>
    <main>
        <section class="start">
            <button type="button" class="hamburger" aria-label="Open menu" aria-expanded="false" aria-controls="siteMenu"><span></span><span></span><span></span></button>
            <div class="container">
                <a href="index.html" class="start__logo"><img src="/src/icons/logo.svg" alt="New American Funding home"></a>
                <div class="start__wrapper">
                    <h1 class="start__title">9 Things You Must Know About Buying Your First Home</h1>
                    <div class="start__author">Scott Johnson</div>
                </div>
            </div>
        </section>
        <section class="preview">
            <div class="container">
                <div class="preview__wrapper">
                    <div class="preview__wrapper-head">
                        <h2 class="preview__title">What’s in the report</h2>
                        <p class="preview__descr">So you’re about to get into the world of homeownership. 
                        It’s okay...everyone feels lost during this process, 
                        but the more preparation you do upfront, the smoother your journey will be.</p>
                    </div>
                    <article class="preview__article">
                        <h3 class="preview__article-title">1st thing</h3>
                        <p class="preview__article-text">
                            So you’re about to get into the world of homeownership. 
                            It’s okay...everyone feels lost during this process, but the more preparation you do upfront, 
                            the smoother your journey will be. So you’re about to get into the world of homeownership. 
                            It’s okay...everyone feels lost during this process, but the more preparation you do upfront, 
                            the smoother your journey will be.So you’re about to get into the world of homeownership. 
                            It’s okay...everyone feels lost during this process, but the more preparation you do upfront, 
                            the smoother your journey will be.So you’re about to get into the world of homeownership. I
                        </p>
                        <img src="/src/img/landscape.png" class="preview__article-img" alt="landscape">
                    </article>
                    <article class="preview__article">
                        <h3 class="preview__article-title">2nd thing</h3>
                        <p class="preview__article-text">
                            So you’re about to get into the world of homeownership. 
                            It’s okay...everyone feels lost during this process, but the more preparation you do upfront, 
                            the smoother your journey will be. So you’re about to get into the world of homeownership. 
                            It’s okay...everyone feels lost during this process, but the more preparation you do upfront, 
                            the smoother your journey will be.So you’re about to get into the world of homeownership. 
                            It’s okay...everyone feels lost during this process, but the more preparation you do upfront, 
                            the smoother your journey will be.So you’re about to get into the world of homeownership. I
                        </p>
                        <img src="/src/img/sky.png" class="preview__article-img" alt="sky">
                    </article>
                </div>
            </div>
        </section>
        <section class="blog">
            <div class="container">
                <h2 class="blog__title">More articles</h2>
                <div class="blog__wrapper">
                    <a href="article.html" class="blog__article">
                        <article>
                            <span class="blog__tag-small">Blog</span>
                        <h3 class="blog__headline-small">Article #8</h3>
                        <p class="blog__text">Terms of your offer, how quickly you can turn things around and who your lenders is advising.
                        </p>
                        <hr class="blog__divider-small">
                        <footer class="blog__footer">
                            <div class="blog__footer-img"></div>
                            <div class="blog__footer-names">
                                <div class="blog__footer-mark">by</div>
                                <div class="blog__footer-author">Scott Johnson</div>
                            </div>
                        </footer>
                        </article>
                    </a>
                    <a href="article.html" class="blog__article">
                        <article>
                            <span class="blog__tag-small">Blog</span>
                        <h3 class="blog__headline-small">Article #9</h3>
                        <p class="blog__text">Terms of your offer, how quickly you can turn things around and who your lenders is advising.
                        </p>
                        <hr class="blog__divider-small">
                        <footer class="blog__footer">
                            <div class="blog__footer-photo"></div>
                            <div class="blog__footer-names">
                                <div class="blog__footer-mark">by</div>
                                <div class="blog__footer-author">Justin Roberts</div>
                            </div>
                        </footer>
                        </article>
                    </a>
                    <a href="article.html" class="blog__article">
                        <article>
                            <span class="blog__tag-small">Blog</span>
                        <h3 class="blog__headline-small">Article #10</h3>
                        <p class="blog__text">Terms of your offer, how quickly you can turn things around and who your lenders is advising.
                        </p>
                        <hr class="blog__divider-small">
                        <footer class="blog__footer">
                            <div class="blog__footer-photo"></div>
                            <div class="blog__footer-names">
                                <div class="blog__footer-mark">by</div>
                                <div class="blog__footer-author">Justin Roberts</div>
                            </div>
                        </footer>
                        </article>
                    </a>
                </div>
            </div>
        </section>
    </main>
<%- include('src/templates/footer.html') %>
<script type="module" src="/src/js/script.js"></script>
</body>
</html>