<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="Website for NAFfirm" />
	<meta name="author" content="Awesome student" />
    <title>Blog</title>
    <%- include('src/templates/head.html') %>
</head>
<body>
    <%- include('src/templates/menu.html') %>
<main>
<section class="introduction">            
    <button type="button" class="hamburger" aria-label="Open menu" aria-expanded="false" aria-controls="siteMenu"><span></span><span></span><span></span></button>
    <div class="container">
        <a href="index.html" class="introduction__logo"><img src="/src/icons/logo.svg" alt="logo" ></a>
        <img src="/src/img/educator_blog.jpg" alt="educator" class="introduction__autor">
    </div>
</section>
<section class="videos">
    <div class="container">
        <div class="videos__wrapper">
            <div class="videos__top">
                <div class="videos__back">
                    <div class="videos__media">
                        <a href="https://www.youtube.com/watch?v=7YSUSmrdlvs&list=RD7YSUSmrdlvs&start_radio=1" target="_blank" class="videos__btn">
                            <span class="videos__btn-icon"></span>
                        </a>
                        <h5 class="videos__title">What are points and credits?</h5>
                        <time class="videos__time" datetime="PT27S">0:27</time>
                    </div>
                </div>
            </div>
            <div class="videos__top">
                <div class="videos__back">
                    <div class="videos__media">
                        <a href="https://www.youtube.com/watch?v=7YSUSmrdlvs&list=RD7YSUSmrdlvs&start_radio=1" target="_blank" class="videos__btn">
                            <span class="videos__btn-icon"></span>
                        </a>
                        <h5 class="videos__title">Why a mortgage is so much more than just a rate?</h5>
                        <time class="videos__time" datetime="PT34S">0:34</time>
                    </div>
                </div>
            </div>
            <div class="videos__top">
                <div class="videos__back">
                    <div class="videos__media">
                        <a href="https://www.youtube.com/watch?v=7YSUSmrdlvs&list=RD7YSUSmrdlvs&start_radio=1" target="_blank" class="videos__btn">
                            <span class="videos__btn-icon"></span>
                        </a>
                        <h5 class="videos__title">Why a mortgage is so much more than just a rate?</h5>
                        <time class="videos__time" datetime="PT34S">0:34</time>
                    </div>
                </div>
            </div>
            <div class="videos__top">
                <div class="videos__back">
                    <div class="videos__media">
                        <a href="https://www.youtube.com/watch?v=7YSUSmrdlvs&list=RD7YSUSmrdlvs&start_radio=1" target="_blank" class="videos__btn">
                            <span class="videos__btn-icon"></span>
                        </a>
                        <h5 class="videos__title">What are points and credits?</h5>
                        <time class="videos__time" datetime="PT27S">0:27</time>
                    </div>
                </div>
            </div>
            <div class="videos__top">
                <div class="videos__back">
                    <div class="videos__media">
                        <a href="https://www.youtube.com/watch?v=7YSUSmrdlvs&list=RD7YSUSmrdlvs&start_radio=1" target="_blank" class="videos__btn">
                            <span class="videos__btn-icon"></span>
                        </a>
                        <h5 class="videos__title">Why a mortgage is so much more than just a rate?</h5>
                        <time class="videos__time" datetime="PT34S">0:34</time>
                    </div>
                </div>
            </div>
            <div class="videos__top">
                <div class="videos__back">
                    <div class="videos__media">
                        <a href="https://www.youtube.com/watch?v=7YSUSmrdlvs&list=RD7YSUSmrdlvs&start_radio=1" target="_blank" class="videos__btn">
                            <span class="videos__btn-icon"></span>
                        </a>
                        <h5 class="videos__title">Why a mortgage is so much more than just a rate?</h5>
                        <time class="videos__time" datetime="PT34S">0:34</time>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="resources">
    <div class="container">
    <h2 class="resources__title">Resources</h2>
    <div class="resources__wrapper">
        <div class="resources__card">
        <div class="resources__top">
            <img src="/src/img/book.jpg" alt="book" class="resources__img">
            <div class="resources__info">
                <span class="resources__label">Resources</span>
                <h3 class="resources__name">9 Things You Must Know About Buying Your First Home </h3>
            </div>
        </div>
        <hr class="resources__divider">
        <div class="resources__action">
            <a href="/book.pdf" target="_blank" class="resources__btn">Download</a>
        </div>
    </div>
    <div class="resources__card">
        <div class="resources__top">
            <img src="/src/img/webinar.jpg" alt="book" class="resources__img">
            <div class="resources__info">
                <span class="resources__label">Resources</span>
                <h3 class="resources__name">Webinar name</h3>
            </div>
        </div>
        <hr class="resources__divider">
        <div class="resources__action">
            <a href="https://www.youtube.com/watch?v=7YSUSmrdlvs&list=RD7YSUSmrdlvs&start_radio=1" target="_blank" class="resources__link resources__view"></a>
        </div>
    </div>
    </div>
    </div>
</section>
<section class="articles">
    <div class="container">
        <div class="articles__wrapper">
            <div class="articles__titles">
                <h2 class="articles__title">Education</h2>
            </div>
            <div class="articles__blogs">
                <a href="article.html" class="articles__blog-big">
                    <article>
                        <span class="articles__tag">Blog</span>
                        <h3 class="articles__headline">Article #1</h3>
                        <p class="articles__text-big">Terms of your offer, how quickly you can turn things around and who your lenders is advising.
                        </p>
                        <hr class="articles__divider">
                        <footer class="articles__footer">
                            <div class="articles__footer-img"></div>
                            <div class="articles__footer-names">
                                <div class="articles__footer-sign">by</div>
                                <div class="articles__footer-name">Scott Johnson</div>
                            </div>
                        </footer>
                    </article>
                </a>
                <a href="#" class="articles__blog-small">
                    <article>
                        <span class="articles__tag-small">Blog</span>
                    <h3 class="articles__headline-small">Article #4</h3>
                    <p class="articles__text">Terms of your offer, how quickly you can turn things around and who your lenders is advising.
                    </p>
                    <hr class="articles__divider-small">
                    <footer class="articles__footer">
                        <div class="articles__footer-photo"></div>
                        <div class="articles__footer-names">
                            <div class="articles__footer-mark">by</div>
                            <div class="articles__footer-author">Justin Roberts</div>
                        </div>
                    </footer>
                    </article>
                </a>
                <a href="#" class="articles__blog-small active">
                    <article>
                        <span class="articles__tag-small">Blog</span>
                    <h3 class="articles__headline-small">Article #2</h3>
                    <p class="articles__text">Terms of your offer, how quickly you can turn things around and who your lenders is advising.
                    </p>
                    <hr class="articles__divider-small">
                    <footer class="articles__footer">
                        <div class="articles__footer-photo"></div>
                        <div class="articles__footer-names">
                            <div class="articles__footer-mark">by</div>
                            <div class="articles__footer-author">Justin Roberts</div>
                        </div>
                    </footer>
                    </article>
                </a>
                <a href="#" class="articles__blog-small active">
                    <article>
                        <span class="articles__tag-small">Blog</span>
                    <h3 class="articles__headline-small">Article #3</h3>
                    <p class="articles__text">Terms of your offer, how quickly you can turn things around and who your lenders is advising.
                    </p>
                    <hr class="articles__divider-small">
                    <footer class="articles__footer">
                        <div class="articles__footer-photo"></div>
                        <div class="articles__footer-names">
                            <div class="articles__footer-mark">by</div>
                            <div class="articles__footer-author">Justin Roberts</div>
                        </div>
                    </footer>
                    </article>
                </a>
                <a href="#" class="articles__blog-small active">
                    <article>
                        <span class="articles__tag-small">Blog</span>
                    <h3 class="articles__headline-small">Article #5</h3>
                    <p class="articles__text">Terms of your offer, how quickly you can turn things around and who your lenders is advising.
                    </p>
                    <hr class="articles__divider-small">
                    <footer class="articles__footer">
                        <div class="articles__footer-photo"></div>
                        <div class="articles__footer-names">
                            <div class="articles__footer-mark">by</div>
                            <div class="articles__footer-author">Justin Roberts</div>
                        </div>
                    </footer>
                    </article>
                </a>
                <a href="#" class="articles__blog-small active">
                    <article>
                        <span class="articles__tag-small">Blog</span>
                    <h3 class="articles__headline-small">Article #6</h3>
                    <p class="articles__text">Terms of your offer, how quickly you can turn things around and who your lenders is advising.
                    </p>
                    <hr class="articles__divider-small">
                    <footer class="articles__footer">
                        <div class="articles__footer-photo"></div>
                        <div class="articles__footer-names">
                            <div class="articles__footer-mark">by</div>
                            <div class="articles__footer-author">Justin Roberts</div>
                        </div>
                    </footer>
                    </article>
                </a>
                <a href="#" class="articles__blog-big">
                    <article>
                        <span class="articles__tag">Blog</span>
                        <h3 class="articles__headline">Article #7</h3>
                        <p class="articles__text-big">Terms of your offer, how quickly you can turn things around and who your lenders is advising.
                        </p>
                        <hr class="articles__divider">
                        <footer class="articles__footer">
                            <div class="articles__footer-img"></div>
                            <div class="articles__footer-names">
                                <div class="articles__footer-sign">by</div>
                                <div class="articles__footer-name">Scott Johnson</div>
                            </div>
                        </footer>
                    </article>
                </a>
                <a href="#" class="articles__blog-small active">
                    <article>
                        <span class="articles__tag-small">Blog</span>
                    <h3 class="articles__headline-small">Article #8</h3>
                    <p class="articles__text">Terms of your offer, how quickly you can turn things around and who your lenders is advising.
                    </p>
                    <hr class="articles__divider-small">
                    <footer class="articles__footer">
                        <div class="articles__footer-photo"></div>
                        <div class="articles__footer-names">
                            <div class="articles__footer-mark">by</div>
                            <div class="articles__footer-author">Justin Roberts</div>
                        </div>
                    </footer>
                    </article>
                </a>
                <a href="#" class="articles__blog-small active">
                    <article>
                        <span class="articles__tag-small">Blog</span>
                    <h3 class="articles__headline-small">Article #9</h3>
                    <p class="articles__text">Terms of your offer, how quickly you can turn things around and who your lenders is advising.
                    </p>
                    <hr class="articles__divider-small">
                    <footer class="articles__footer">
                        <div class="articles__footer-photo"></div>
                        <div class="articles__footer-names">
                            <div class="articles__footer-mark">by</div>
                            <div class="articles__footer-author">Justin Roberts</div>
                        </div>
                    </footer>
                    </article>
                </a>
                <a href="#" class="articles__blog-small active">
                    <article>
                        <span class="articles__tag-small">Blog</span>
                    <h3 class="articles__headline-small">Article #10</h3>
                    <p class="articles__text">Terms of your offer, how quickly you can turn things around and who your lenders is advising.
                    </p>
                    <hr class="articles__divider-small">
                    <footer class="articles__footer">
                        <div class="articles__footer-photo"></div>
                        <div class="articles__footer-names">
                            <div class="articles__footer-mark">by</div>
                            <div class="articles__footer-author">Justin Roberts</div>
                        </div>
                    </footer>
                    </article>
                </a>
            </div>
        </div>
    </div>
</section>
</main>
<%- include('src/templates/footer.html') %>
<script type="module" src="/src/js/script.js"></script>
</body>
</html>