<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__top">
                <img src="/src/icons/logo.svg" alt="logo" class="footer__logo">
                <button class="footer__btn">Schedule a time</button>
            </div>
            <hr class="footer__divider">
            <div class="footer__middle">
                <div class="footer__middle-info">
                    <h3 class="footer__subtitle">Contact us</h3>
                        <ul class="footer__list">
                            <li><address class="footer__address">14511 Myford Road, Suite 100, Tustin, CA 92780</address></li>
                            <li><a href="tel:8004502010" class="footer__link">800-450-2010</a></li>
                            <li><a href="mailto:customerservice@nafinc.com" class="footer__link">customerservice@nafinc.com</a></li>
                        </ul>
                </div>
                <div class="footer__middle-pages">
                    <nav class="footer__nav" aria-label="Education links">
                        <h3 class="footer__subtitle">Education</h3>
                        <ul class="footer__list">
                            <li><a href="blog.html" class="footer__link">Blog</a></li>
                            <li><a href="ebook.html" class="footer__link">Ebook</a></li>
                            <li><a href="webinar.html" class="footer__link">Webinar</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="footer__middle-terms">
                    <nav class="footer__nav" aria-label="Legal links">
                        <h3 class="footer__subtitle">Legal</h3>
                        <ul class="footer__list">
                            <li><a href="#" class="footer__link">Terms of use</a></li>
                            <li><a href="#" class="footer__link">Privacy policy</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="footer__middle-descr">
                    <p class="footer__text">New American Funding makes Customer Service our number one priority. We encourage you to call our Corporate Customer Service 
                        department at 800-450-2010 ext. 7100 between 8 am and 5:00 pm Pacific or email us anytime at customerservice@nafinc.com 
                        for any complaint resolution you may have regarding the origination of your loan.
                    </p>
                    <p class="footer__text-web">This site is not authorized by the New York State Department of Financial Services. No mortgage solicitation activity 
                        or loan applications for properties located in the State of New York can be facilitated through this site.
                        Read more at https://www.newamericanfunding.com</p>
                </div>
            </div>
            <hr class="footer__divider">
            <div class="footer__bottom">
                <div class="footer__copyright">If you received a letter from New American Funding and would like to be removed from our mailing list, please call 800-450-2010.
                © 2018 Broker Solutions, Inc. DBA New American Funding. All Rights Reserved.</div>
            </div>
        </div>
    </div>
</footer>