<section class="touch">
        <div class="container">
            <div class="touch__wrapper">
                <div class="touch__descr">
                    <h2 class="touch__title">Get started with us</h2>
                    <p class="touch__text">Rates change, but every mortgage journey starts with a relationship.
                    (Pssst...it’s not just about clicking a button)</p>
                    <hr class="touch__divider">
                    <div class="touch__btn">
                        <button class="touch__btn-get">Get started</button>
                        <button class="touch__btn-sched">Schedule a time</button>
                    </div>
                </div>
                <div class="touch__img">
                    <img src="/src/img/cat__picture.jpg" alt="cat" class="touch__cat">
                </div>
            </div>
        </div>
    </section>