@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.articles {
    margin-top: 90px;
    &__wrapper {
        margin-left: calc(30px + 0.4583333 * (100vw - 1440px));
    }
    &__title {
        color: $dark;
        font-size: 36px;
        font-weight: 700;
        line-height: 36px; 
        margin-bottom: 4px;
    }
    &__blogs {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 397px));
        gap: 24px;
    }
    &__blog-big {
        grid-column: span 2;
        display: block;
        background-image: url("/src/img/background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 4px;
        padding: 28px 32px 32px 28px;
        text-decoration: none;
        cursor: pointer;
    }
    &__tag, &__tag-small {
        font-size: 11px;
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    &__tag {
        color: rgba(255, 255, 255, 0.5);
    }
    &__tag-small {
        color: $ui-active;
    }
    &__headline, &__headline-small {
        margin-top: 83px;
        font-size: 28px;
        font-weight: 700;
        line-height: 28px;
        &-small {
            color: $dark;
        }
    }
    &__headline {
        color: #FFF;
    }
    &__text-big, &__text {
        margin-top: 19px;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px; 
    }
    &__text {
        max-width: 308px;
        color: rgba(0, 0, 0, 0.5);
    }
    &__text-big {
        width: 394px;
        color: rgba(255, 255, 255, 0.7);
    }
    &__divider, &__divider-small {
        @include divider;
        margin-left: 0;
        margin-top: 21px;
        margin-bottom: 0;
    }
    &__divider-small {
        width: 260px;
    }
    &__divider{
        width: 608px;
        background-color: rgba(255, 255, 255, 0.2);
    }
    &__footer {
        margin-top: 23px;
        display: flex;
        gap: 12px;
        &-img, &-photo {
            background-repeat: no-repeat;
            width: 48px;
            height: 48px;
            border-radius: 50%;
        }
        &-img {
            background: url("/src/img/educator_2.jpg");
            background-size: cover;
        }
        &-photo {
            background: url("/src/img/master_2.jpg");
            background-size: contain;
        }
        &-names {
            display: flex;
            flex-direction: column;
            align-self: center;
            gap: 4px;
        }
        &-author {
            color: $dark;
            font-size: 16px;
            font-weight: 700;
            line-height: 16px; 
        }
        &-sign, &-mark {
            font-size: 14px;
            font-weight: 400;
            line-height: 14px; 
        }
        &-sign {
            color: rgba(255, 255, 255, 0.5);
        }
        &-mark {
            color: rgba(0, 0, 0, 0.5);
        }
        &-name {
            color: rgba(255, 255, 255);
            font-size: 16px;
            font-weight: 700;
            line-height: 16px; 
        }
    }
    &__blog-small {
        display: block;
        padding: 28px 32px 32px 28px;
        border-radius: 4px;
        box-shadow: 0 27px 58px 0 rgba(25, 78, 96, 0.14);
        text-decoration: none;
        cursor: pointer;

        transition: 
        box-shadow 0.3s ease,
        background-color 0.3s ease;
        @media (hover: hover) and (pointer: fine) {
        &:hover {
            box-shadow: 0 27px 58px 0 rgba(0, 84, 114, 0.38);
            background-color: $ui-active;
            .articles__headline-small {
                color: #fff;
            }
            .articles__text {
                color: rgba(255, 255, 255, 0.7);
            }
            .articles__divider-small {
                background-color: rgba(255, 255, 255, 0.2);
            }
            .articles__footer-author {
                color: #fff;
            }
            .articles__tag-small,
            .articles__footer-mark {
                color: rgba(255, 255, 255, 0.5);
            }
        }
    }
    }
}

@media screen and (max-width: 1440px) {
    .articles {
        &__wrapper {
            margin-left: calc(30px + 0.083333 * (1440px - 100vw));
        }
    }
}

@media screen and (max-width: 1200px) {
    .articles {
        &__wrapper {
            margin-left: 0;
            padding: 0 50px;
        }
        &__blogs {
            grid-template-columns: repeat(2, minmax(0, 517px));
            gap: 24px;
        }
    }
}

@media screen and (max-width: 768px) {
    .articles {
        &__wrapper {
            padding: 0;
        }
        &__blogs {
            grid-template-columns: repeat(auto-fit, minmax(260px, auto));
            gap: 24px;
        }
        &__title {
            font-size: 30px;
        }
        &__divider, &__divider-small {
            width: 90%;
        }
        &__text, &__text-big {
            max-width: 70%;
            margin-top: 10px;
            line-height: 22px;
        }
        &__headline, &__headline-small {
            font-size: 25px;
            margin-top: 60px;
        }
        &__blog-big {
            padding: 24px;
            grid-column: span 1;
        }
        &__blog-small {
            padding: 24px;
        }
        &__footer {
            margin-top: 15px;
        }
    }
}