@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.education {
    margin-top: 104px;
    padding-bottom: 500px;
    &__wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        margin-left: calc(30px + 0.4583333 * (100vw - 1440px));
    }
    &__titles {
        display: flex;
        justify-content: space-between;
        align-items: end;
    }
    &__title {
        color: $dark;
        font-size: 36px;
        font-weight: 700;
        line-height: 36px; 
        margin-bottom: 4px;
        &-list {
            position: relative;
            color: $ui-active;
            font-size: 14px;
            font-weight: 700;
            background: none;
            border: none;
            padding: 0;
            cursor: pointer;
            &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -5px;
            width: 100%;
            height: 1px;
            background-color: $ui-active;
            }
        }
    }
    &__card {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    &__blogs {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 397px));
        gap: 24px;
        width: 100%;
    }
    &__blog-big {
        display: block;
        background-image: url("/src/img/background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 4px;
        grid-column: 1 / -1;
        padding: 28px 32px 32px 28px;
        text-decoration: none;
        cursor: pointer;
    }
    &__tag, &__tag-small {
        font-size: 11px;
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    &__tag {
        color: rgba(255, 255, 255, 0.5);
    }
    &__tag-small {
        color: $ui-active;
    }
    &__headline, &__headline-small {
        margin-top: 83px;
        font-size: 28px;
        font-weight: 700;
        line-height: 28px;
        &-small {
            color: $dark;
        }
    }
    &__headline {
        color: #FFF;
    }
    &__text-big, &__text {
        margin-top: 19px;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px; 
    }
    &__text {
        max-width: 308px;
        color: rgba(0, 0, 0, 0.5);
    }
    &__text-big {
        width: 394px;
        color: rgba(255, 255, 255, 0.7);
    }
    &__divider, &__divider-small {
        @include divider;
        margin-left: 0;
        margin-top: 21px;
        margin-bottom: 0;
    }
    &__divider-small {
        width: 260px;
    }
    &__divider{
        width: 608px;
        background-color: rgba(255, 255, 255, 0.2);
    }
    &__footer {
        margin-top: 23px;
        display: flex;
        gap: 12px;
        &-img, &-photo {
            background-repeat: no-repeat;
            width: 48px;
            height: 48px;
            border-radius: 50%;
        }
        &-img {
            background: url("/src/img/educator_2.jpg");
            background-size: cover;
        }
        &-photo {
            background: url("/src/img/master_2.jpg");
            background-size: contain;
        }
        &-names {
            display: flex;
            flex-direction: column;
            align-self: center;
            gap: 4px;
        }
        &-author {
            color: $dark;
            font-size: 16px;
            font-weight: 700;
            line-height: 16px; 
        }
        &-sign, &-mark {
            font-size: 14px;
            font-weight: 400;
            line-height: 14px; 
        }
        &-sign {
            color: rgba(255, 255, 255, 0.5);
        }
        &-mark {
            color: rgba(0, 0, 0, 0.5);
        }
        &-name {
            color: rgba(255, 255, 255);
            font-size: 16px;
            font-weight: 700;
            line-height: 16px; 
        }
    }
    &__blog-small {
        display: block;
        padding: 28px 32px 32px 28px;
        border-radius: 4px;
        box-shadow: 0 27px 58px 0 rgba(25, 78, 96, 0.14);
        text-decoration: none;
        cursor: pointer;
    }
    &__resources{
        display: flex;
        flex-direction: column;
        gap: 20px;
        &-title {
            color: $dark;
            font-size: 36px;
            font-weight: 700;
            line-height: 36px;
        }
        &-card {
            display: flex;
            flex-direction: column;
            max-width: 397px;          
            aspect-ratio: 397 / 266;
            border-radius: 4px;
            box-shadow: 0 27px 58px 0 rgba(25, 78, 96, 0.14);
        }
        &-wrap {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
        }
        &-top {
            display: flex;
            align-items: flex-start;
            gap: 24px;
            padding: 24px 32px ;
        }
        &-img {
            margin-top: 4px;
        }
        &-label {
            display: block;
            color: $ui-active;
            font-size: 11px;
            font-weight: 700;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
        &-name {
            margin-top: 17px;
            color: $dark;
            font-size: 20px;
            font-weight: 700;
            line-height: 26px; 
        }
        &-divider {
            @include divider;
            width: 333px;
            margin-left: 32px;
            margin-top: 0;
            margin-bottom: 0;
        }
        &-action {
            margin-top: 23px;
            padding-bottom: 26px;
        }
        &-btn {
            text-decoration: none;
            margin-left: 213px;
            @include btn-download;
        }
        &-view {
            margin-left: 311px;
            @include anim_btn-view;
        }
    }
}
.education__blog-small.active {
    box-shadow: 0 27px 58px 0 rgba(0, 84, 114, 0.38);
    background-color: $ui-active;
    .education__headline-small {
        color: #ffffff;
    }
    .education__text {
        color: rgba(255, 255, 255, 0.7);
    }
    .education__divider-small {
        background: rgba(255, 255, 255, 0.2);
    }
    .education__footer-author {
        color: #ffffff;
    }
    .education__tag-small {
        color: rgba(255, 255, 255, 0.5);
    }
    .education__footer-mark {
        color: rgba(255, 255, 255, 0.5);
    }
}

@media screen and (max-width: 1440px) {
    .education {
        &__wrap {
            margin-left: calc(30px + 0.083333 * (1440px - 100vw));
        }
    }
}

@media screen and (max-width: 1200px) {
    .education {
        &__wrap {
            margin-left: 50px;
            gap: 84px;
        }
        &__resources {
            &-wrap {
            grid-template-columns: repeat(2, minmax(310px, 1fr));
            }
            &-divider {
            width: 70%;
            }
            &-name {
                font-size: 19px;
                line-height: 22px;
            }
            &-btn {
                margin-left: 39px;
            }
            &-view {
                margin-left: 41px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .education {
        &__wrap {
            margin-left: 0;
        }
        &__title {
            font-size: 30px;
        }
        &__divider, &__divider-small {
            width: 90%;
        }
        &__text, &__text-big {
            max-width: 70%;
            margin-top: 10px;
            line-height: 22px;
        }
        &__headline, &__headline-small {
            font-size: 25px;
            margin-top: 60px;
        }
        &__blogs {
            grid-template-columns: repeat(2, minmax(0, 397px));
            width: 100%;
        }
        &__blog-big {
            padding: 24px;
        }
        &__blog-small {
            grid-column: 1 / -1;
            padding: 24px;
        }
        &__footer {
            margin-top: 15px;
        }
        &__resources {
            margin: 0 auto;
            &-wrap {
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            }
            &-name {
                font-size: 16px;
            }
            &-title {
                align-self: center;
                font-size: 30px;
            }
            &-divider {
                width: 80%;
            }
        }
    }
}