@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.speaker {
    margin-top: 90px;
    &__title {
        text-align: center;
        color: $dark;
        font-size: 36px;
        font-weight: 700;
        line-height: 60px; 
        margin-bottom: 16px;
    }
    &__wrapper {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
        border-radius: 4px;
        display: flex;
        box-shadow: 0 27px 58px 0 rgba(25, 78, 96, 0.14);
    }
    &__descr {
        margin-top: 88px;
        margin-left: 65px;
    }
    &__role {
        color: $ui-active;
        font-size: 11px;
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    &__name {
        margin-top: 6px;
        color: $dark;
        font-size: 28px;
        font-weight: 700;
        line-height: 28px; 
    }
    &__divider {
        @include divider;
        width: 40px;
        margin-top: 20px;
        margin-bottom: 0;
        margin-left: 0;
    }
    &__text {
        max-width: 360px;
        margin-top: 18px;
        color: rgba(0, 0, 0, 0.5);
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }
    &__img {
        margin-left: 83px;
        margin-top: 40px;
    }
    &__btn {
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 30px;
        margin-left: 12px;
        gap: 25px;
        &-play {
            @include anim_btn-blue;
        }
        &-sign {
            font-size: 13px;
            font-weight: 400;
        }
    }
}

@media screen and (max-width: 1440px) {
    .speaker {
        &__wrapper {
            max-width: 996px;
        }
        &__descr, &__img {
            margin-left: 55px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .speaker {
        &__descr {
            margin-left: 30px;
        }
        &__img {
            margin-left: 40px;
        }
        &__text{
            padding-right: 10px;
        }
    }
}

@media screen and (max-width: 768px) {
    .speaker {
        &__wrapper {
            flex-direction: column;
            max-width: 500px;
        }
        &__title {
            font-size: 30px;
        }
        &__descr {
            margin: 0 auto;
            padding: 20px 20px;
        }
        &__img {
            margin: 0 auto;
        }
    }
}